html {
    overflow: hidden;
}
body {
    background: lightgrey none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    font: 14pt Arial,sans-serif;
    height: 100vh;
    margin: 0;
    width: 100%;
}
canvas {
    background: #202020 none repeat scroll 0 0;
    box-shadow: 0 0 10px blue;
    display: inline-block;
    height: 45%;
    width: 95%;
}
#controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: space-around;
    width: 100%;
}
#record {
    height: 15vh;
}
#record.recording {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse farthest-corner at center center , #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%) repeat scroll 0 0;
}
#save, #save img {
    height: 10vh;
}
#save {
    opacity: 0.25;
}
#save[download] {
    opacity: 1;
}
#viz {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    width: 100%;
}
@media (orientation: landscape) {
body {
    flex-direction: row;
}
#controls {
    flex-direction: column;
    height: 100%;
    width: 10%;
}
#viz {
    height: 100%;
    width: 90%;
}
}
